*{margin:0; padding:0;}
#main{width:1200px; margin:0 auto;}
#main h2{text-align:center; margin:30px 0;}
#main table{width:1200px; border-collapse:collapse; text-align:center; }
#main th{height:40px; font-size:18px; border:1px solid black; background:#efefef;}
#main td{height:30px; font-size:13px; border:1px solid black;}
#btn{width:1200px; height:40px; display:flex; justify-content: flex-end; 
    margin-left:15px auto; }
#btn button{width:100px; height:30px; font-size:15px; background:#efefef; }

/*학생입력팝업창 div-class지정*/
.p_all{width:100%; margin:auto;}
.p_main{width:600px; height:800px; position:relative; left:50%; top:25%;}
.p_main h2{margin:30px auto; }
.p_main table{text-align:center; border-collapse:collapse;}
.p_main th{font-size:20px; }
.p_main td{font-size:16px;}
.p_main input{width:300px; height:100px; margin-left:20px; }
#in_btn{width:150px; height:30px; background:rgb(214, 133, 12);}